.globalNavi{
  max-width:20rem;
  width:100%;
}
.globalNavi_listarea{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:flex-end;
  margin:0;
  padding: 0;
}
.globalNavi_list{
  margin: 0;
  padding: 0;
  width: 100%;
}
.globalNavi_list_button{
  display: block;
  margin:0;
  padding:0;
  text-align: center;
  text-decoration: none;
  color:#fff;
  background-color: #111;
  box-sizing: border-box;
  transition: color 0.3s;
}
.globalNavi_list_button:hover{
  color:#847545;
}
